.container-outer{
  margin: 0;
  padding: 0;
  width: 4%;

    .container-main{
        height: 20px;
        padding: 20px !important;
        background-color: rgb(184, 195, 197);
        margin: 10px 0 0 0;
        border: none;
        border-radius: 3px;

    }
}
