.person{
    // background-color: brown;
    background-image: url('../../images/elevator.png');
    border-radius: 4px;
    position: relative;
    padding: 10px !important;
    height: 40px;
    margin-top: 20px;
    transition: 7s;
    color: #fff;
    text-align: center;
    font-weight: 200px;
    bottom: 5px;
    background-size: 40px 65px;
    //width: 10%;
}
